/* Put your css in here */
body {
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #707478;
    background-color: #fcfcfc;
}

.form-control {
    margin-top: 10px;
}

.title {
    margin: 0 0 10px;
    line-height: 18px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.desc {
    line-height: 16px;
    font-size: 12px;
    overflow: hidden;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.well {
    border-color: #eef;
}

.item img.image {
    max-width: 100%;
    margin-top: 9px;
}

.info {
    padding: 4px;
}